<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings> <!--<ConnectionStringSettings -->
    <add name="Default" connectionString="Server=myServerAddress;Database=myDataBase;Trusted_Connection=True;"/>
    <add name="SWDBDev" connectionString="Server=myServerAddress;Database=myDataBase;Uid=myUsername;Pwd=myPassword;"/>
    <add name="SWDBTest" connectionString="Data Source=c:\mydb.db;Version=3;"/>
    <add name="Test" connectionString="Data Source=c:\mydb.db;Version=Test;"/>
  </connectionStrings>
  <appSettings>
    <add key="TempFilePath" value="C:\Temp"/>
    <add key="UserName" value="admin"/>
    <add key="SystemEmailAddress" value="admin@sw.co.kr"/>
    <add key="ServerIPAddress" value="127.0.0.1"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
